<mat-card class="w-100 mt-5">
  <mat-card-header>
    <mat-card-title>
      Repo Vulnerabilities {{ type | titlecase }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <mat-list>
      <mat-list-item (click)="fix(vulnerability)" *ngFor="let vulnerability of vuls | slice: lowValue : highValue" class="mat-list-option">

        <h4 mat-line>{{ vulnerability.name }}</h4>

        <p mat-line>Number of vulnerablilities {{ vulnerability.vulnerabilityAlerts.totalCount }}</p>

      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="vuls.length"
              [pageSize]="pageSize"
              (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>
